@font-face {
    font-family: 'Golos UI';
    src: url('subset-GolosUI-Bold.woff2') format('woff2'),
        url('subset-GolosUI-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Golos UI';
    src: url('subset-GolosUI-Regular.woff2') format('woff2'),
        url('subset-GolosUI-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

